/* General styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/woods.png');
    background-size: cover;
    margin: 0;
    overflow: hidden;
}

/* Main container styling */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Blackboard styling */
.blackboard {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 30px;
    background-color: #000;
    border: 20px solid #cf9f46;
    padding: 10px;
    gap: 10px;
}

/* Prediction result styling */
#prediction-result {
    width: 200px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #cf9f46;
    margin-right: 15px;
    text-align: left;
}

#prediction-result h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

#top-predictions {
    list-style: none;
    padding: 0;
    margin: 0;
}

#top-predictions li {
    font-size: 14px;
    padding: 5px;
    background-color: #e7e7e7;
    color: #333;
    border-radius: 4px;
    margin-bottom: 5px;
}

/* Canvas styling */
#result-screen,
#input-screen {
    max-width: 450px;
    height: auto;
}

/* Predict button styling */
.predict {
    background-color: #bdaa00;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

.predict:hover {
    background-color: #45a049;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .blackboard {
        border-width: 15px;
    }

    .predict {
        padding: 8px 12px;
        font-size: 14px;
    }
}
