body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/woods.png');
    margin: 0;
    overflow: hidden;
}
.blackboard{
    border-radius:30px;
    background-color: #000;
    border: 20px solid #cf9f46;
    overflow:hidden;
}
#input-screen{
    border-left: 5px solid white;
    cursor: url
}
.predict{
    background-color: #bdaa00; 
    color: white; 
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position:fixed;
    bottom:76px;
    right:228px;

}
button.predict:hover {
    background-color: #45a049; 
}
.container{
    position:relative;
}